
/* svojstvo vezano za app.css
i ovo ce samo naduvati kontet u main-u onoliko koliko treba tom sadrzaju da se prikaze
roditelj App ima display flex
a njegovo dete main prima to flex:1 svojstvo */

/* STICKY footer zanci daa u odnosu na visinu prozora ce se footer zalepiti za dno */
.App .main {
  flex: 1;
}

.candidates{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd ;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 20px;
}

.candidates input{
  border-radius: 20px;
  padding: 10px;
  border: 1.5px solid #ddd;
}

.candidate-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: stretch;
  padding: 20px;
}