/* Table styling start here */
table {
  border-spacing: 0;
  border-collapse: collapse;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 100%;
  border: 1px solid rgb(90, 89, 89);
}

table thead tr {
  background-color: #44d3ec;
  color: rgb(112, 21, 14);
  text-align: left;
  font-size: 20px;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;

}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #44d3ec;
}

table tbody tr:hover {
  color: #44d3ec;
}

/* End of table styling */

.eye {
  cursor: pointer;
}

/* Table styling ends here */

.candidate-reports {
  padding: 20px;
}

/* Details candidate  */
.data {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 5%;
  border-radius: 5px;
  margin: 30px auto;
}

.data-img {
  display: flex;
  justify-content: center;
  flex: 1;
}

.img {
  width: 160px;
  height: auto;
  border-radius: 50%;
  background-color: white;
}

.name-email {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.name-email p:nth-child(even),
.birth-education p:nth-child(even) {
  font-size: 25px;
  padding: 20px 0;

}

.birth-education {
  flex: 1;
}

.avatar,
.name,
.birthday,
.email,
.education {
  font-size: 15px;
  color: #232323;
  flex: 1;
}

small {
  margin-right: 5px;
}

h3,
h2 {
  margin-bottom: 15px;
}