.card {

  border: 1px solid #ddd;
  padding: 20px;
  width: 340px;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

}

.card:hover {
  box-shadow: 1px 1px 10px 5px rgba(48, 172, 221, 0.4);


}

.card img {
  max-width: 120px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  opacity: 0.6;
  background-color: rgba(48, 172, 221, 0.4);

}