@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@100&family=Oswald:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Caveat", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
}

body.modal-opened {
  height: 100%;
  overflow: hidden;
}

.App {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  /* Ubacili sva ova svojstva  */
  display: flex;
  flex-direction: column;
  /* da ne iskacu nikakve nove kolone */
  flex-wrap: nowrap;
  justify-content: flex-start;

  /* da po sirini svi budu isti */
  align-items: stretch; 
}
